<mat-card>
    <mat-card-header>
        <img mat-card-avatar [src]="unicorn.photo" [alt]="unicorn.name">
        <mat-card-title>{{ unicorn.name }}</mat-card-title>
        <mat-card-subtitle>ID: {{ unicorn.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="unicorn.photo" [alt]="unicorn.name">
    <mat-card-content>
        <div>birthyear: {{ unicorn.birthyear }}</div>
        <div>hobbies: {{ unicorn.hobbies }}</div>
        <div>weight: {{ unicorn.weight }}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="editUnicorn(unicorn)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="deleteUnicorn(unicorn)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
